#Desktop1 {
    /*position: relative;*/
    /*width: 1440px;*/
    /*height: 2986px;*/

    background: #EAEAEA;
    padding:0;
}
#Head {
    /*position: absolute;*/
    /*width: 1440px;*/
    height: 155px;
    left: 0px;
    top: 0px;
    background: #400808E5;
}
#HeadLine4 {
    /*position: absolute;*/
    width: 57px;
    height: 0px;
    left: 313px;
    top: -17px;

    border: 1px solid #FFFFFF;
    transform: rotate(90deg);

}
#logo {
    /*position: absolute;*/
    width: 304px;
    height: 53px;
    left: 65px;
    top: 15px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;

    /*color: #FF7A00;*/

}
#logoCzesc1 {
    color: #FF7A00;
}
#logoCzesc2 {
    color: #FFFFFFBF;
}
#frame4 {

}
#tagline {
    /*position: absolute;*/
    width: 475px;
    height: 49px;
    left: 329px;
    top: 20px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    /*color: rgba(255, 122, 0, 0.75);*/
}
#taglineCzesc1 {
    color:#FF7A00BF;
    display:flex;
}
#taglineCzesc2 {
    color:#FFFFFFBF;
    display:flex;
}
.navCzcionka {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;

    color: rgba(255, 122, 0, 0.75);
}
#glowna {
    /*width: 147px;
    height: 76px;
    left: 65px;
    top: 96px;*/


}
#szukajPrzycisk {
    background: rgba(255, 122, 0, 0.75);
    border-radius: 0px 20px 20px 0px;
}
#szukajPole {
    border-radius: 20px 0px 0px 20px;
}
#kolaz {
}
.kolaz-obrazy {
    height:100%;
    width:auto;
}
#liniaSeparator {
}
#odstep {
}
.zawartosc-naglowek-czcionka {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;

    color: #FF7A00;
}
/*#lewy-panel {
    background: #FFFFFF;
    border-radius: 20px;

}
#prawy-panel {
    background: #FFFFFF;
    border-radius: 20px;
}*/
.panel {
    background: #FFFFFF;
    border-radius: 20px;
}
.zawartosc-pola {

}
.prawy-panel-naglowek {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 36px;

    color: #FF7A00;
}
#krzyzyk {
}
#krzyzyk-div {
    top:3%;
    right:5%;
}
.naglowek-opisu {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 24px;

    color: #FF7A00;
}
.separator {
    position: absolute;
    width: 391px;
    height: 0px;
    left: 509px;
    top: 2538px;

    border: 1px solid rgba(255, 255, 255, 0.75);
    transform: rotate(90deg);
}
#stopka {
    background: rgba(64, 8, 8, 0.9);
    font-family: 'Inter',sans-serif;
    /*font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;*/

    color: #FFFFFF;
    padding-left:10%;
    padding-right:10%;
}
.stopka-pole-lewy {
    border-right: 1px solid rgba(255, 255, 255, 0.75);
}
.stopka-pole-prawy {
    border-left: 1px solid rgba(255, 255, 255, 0.75);
}